mixin footer()
    footer.footer   
        .footer__container 
            p.container__smth © 2024 CapichLife 
            p.container__afterwords Explore the creative journey, professional projects, personal insights, and diverse experiences shaping Capich Life—a versatile tool for self-expression and professional representation.

