mixin header()
    header.header
        .header__container 
            .header__logo
                a.logo(href="#") Capich Life 
            .header__navigation
                a.navigation(href="#") Home
                a.navigation(href="#") Skills 
                a.navigation(href="#") Hobby
                a.navigation(href="#") Portfolio
            .header__controls
                a.controls(href="#") Rus
                a.controls(href="#") Eng 