mixin main()
    main.main 
        .main__container
            .container-heading
                h4.heading Rashid Shukurov
            .container-subheading
               p.subheading 18 y.o;
               p.subheading Uzbekistan, Tashkent;
               p.subheading ALWIUT<3
            .container-content
                p.content Designed with the intention of showcasing my portfolio, revealing aspects of my personality, and monitoring my personal and professional development, this website serves as a platform for self-expression and growth.
            .container-CV
                a.CV(href="@img/Rashid-Shukurov_s-CV.png") Download CV 